:root {
	--tile-num: 10;
	--outer-tile-border-size: 6px;
	--outer-tile-border-color: black;
	--inner-tile-border-size-full: 2px;
	--inner-tile-border-color: black;
	--inner-tile-border-size: calc(var(--inner-tile-border-size-full) / 2);
	--outer-tile-border-size-with-inner: calc(var(--outer-tile-border-size) - var(--inner-tile-border-size-full));
}

h1 {
	color: red;
}

.field {
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: 80vh;
}

#field-center {
	display: flex;
	justify-content: space-between;
}

#field-first-row, #field-last-row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.field__tile-top_corner-left {
	border-top: var(--outer-tile-border-color) solid var(--outer-tile-border-size);
	border-left: var(--outer-tile-border-color) solid var(--outer-tile-border-size);
	border-right: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
	border-bottom: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
}

.field__tile-top_corner-right {
	border-top: var(--outer-tile-border-color) solid var(--outer-tile-border-size);
	border-right: var(--outer-tile-border-color) solid var(--outer-tile-border-size);
	border-left: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
	border-bottom: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
}

.field__tile-down_corner-right {
	border-right: var(--outer-tile-border-color) solid var(--outer-tile-border-size);
	border-bottom: var(--outer-tile-border-color) solid var(--outer-tile-border-size);
	border-left: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
	border-top: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
}

.field__tile-down_corner-left {
	border-left: var(--outer-tile-border-color) solid var(--outer-tile-border-size);
	border-bottom: var(--outer-tile-border-color) solid var(--outer-tile-border-size);
	border-right: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
	border-top: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
}

.field__tile-top {
	border-top: var(--outer-tile-border-color) solid var(--outer-tile-border-size);
	border-left: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
	border-right: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
	border-bottom: var(--outer-tile-border-color) solid var(--inner-tile-border-size-full);
}

.field__tile-down {
	border-bottom: var(--outer-tile-border-color) solid var(--outer-tile-border-size);
	border-left: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
	border-right: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
	border-top: var(--outer-tile-border-color) solid var(--inner-tile-border-size-full);
}
.field__tile-right {
	border-right: var(--outer-tile-border-color) solid var(--outer-tile-border-size);
	border-top: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
	border-bottom: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
	border-left: var(--outer-tile-border-color) solid var(--inner-tile-border-size-full);
}

.field__tile-left {
	border-left: var(--outer-tile-border-color) solid var(--outer-tile-border-size);
	border-top: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
	border-bottom: var(--inner-tile-border-color) solid var(--inner-tile-border-size);
	border-right: var(--outer-tile-border-color) solid var(--inner-tile-border-size-full);
}

#field-center-zone {
	width: calc((80vw / var(--tile-num)) * (var(--tile-num) - 2));
	height: calc((80vh / var(--tile-num)) * (var(--tile-num) - 2));
	border: var(--outer-tile-border-color) solid var(--outer-tile-border-size-with-inner);
	box-sizing: border-box;
	background: white;
}


.field__tile {
	width: calc(80vw / var(--tile-num));
	height: calc(80vh / var(--tile-num));
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
