h1 {
	color: red;
}

.field {
	display: flex;
	flex-direction: column;
	width: 480px;
	height: 480px;
}

#field-center {
	display: flex;
	justify-content: space-between;
}

#field-first-row, #field-last-row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

#field-center-zone {
	width: 160px;
	height: 160px;
	background: red;
}

.field__tile {
	width: 160px;
	height: 160px;
	background: #4CAF50;
	display: flex;
	justify-content: center;
	align-items: center;
}
