:root {
	--tile-num: 10;
}

h1 {
	color: red;
}

.field {
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: 80vh;
}

#field-center {
	display: flex;
	justify-content: space-between;
}

#field-first-row, #field-last-row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

#field-center-zone {
	width: calc((80vw / var(--tile-num)) * (var(--tile-num) - 2));
	height: calc((80vh / var(--tile-num)) * (var(--tile-num) - 2));
	background: gray;
}

.field__tile {
	width: calc(80vw / var(--tile-num));
	height: calc(80vh / var(--tile-num));
	display: flex;
	justify-content: center;
	align-items: center;
	background: #4CAF50;
}
